<%- include("../partials/header"); %>

<div class="uk-width-3-4 uk-align-center" ukgrid>
  <div>
    <ul class="uk-breadcrumb">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="noticias.html">Noticias</a></li>
      <li class="uk-disabled"><a><%= noticia.titulo %></a></li>
    </ul>
  </div>
  <div class="uk-container-large uk-comment-primary">
    <article class="uk-article uk-padding-large">
      <h1 class="uk-article-title">
        <a class="uk-link-reset" href=""><%= noticia.titulo %></a>
      </h1>

      <p class="uk-article-meta">
        Escrito por <a href="#"><%= noticia.autor %></a> el
        <a href="#"><%= noticia.fecha.toDateString() %></a>
      </p>

      <p class="uk-text-lead"><%= noticia.extracto %></p>

      <img class="uk-margin-bottom" data-src="<%= noticia.imagen %>" loading="lazy" width="1800" height="1200" alt=""
        uk-img />

      <!--<p><%= noticia.texto %></p>-->
      <%# This tag renders the HTML %> <%- noticia.texto %>
    </article>
  </div>
</div>
<!--DELETE PARTIAL NOTICIAS... GENERATES ERROR-->
<%- include("../partials/footer"); %>