<%- include("../partials/header"); %>

<div class="uk-width-3-4 uk-align-center" ukgrid>
  <div>
    <ul class="uk-breadcrumb">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="noticias.html">Noticias</a></li>
      <li class="uk-disabled"><a><%= noticia.titulo %></a></li>
    </ul>
  </div>
  <div class="uk-container-large uk-comment-primary">
    <article class="uk-article uk-padding-large">
      <h1 class="uk-article-title">
        <a class="uk-link-reset" href=""><%= noticia.titulo %></a>
      </h1>

      <p class="uk-article-meta">
        Escrito por <a href="#"><%= noticia.autor %></a> el
        <a href="#"><%= noticia.fecha %></a>
      </p>

      <p class="uk-text-lead"><%= noticia.extracto %></p>

      <img
        data-src="<%= noticia.imagen %>"
        width="1800"
        height="1200"
        alt=""
        uk-img
      />

      <p><%= noticia.texto %></p>
    </article>
  </div>
</div>

<%- include("../partials/noticias"); %> <%- include("../partials/footer"); %>
